@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@layer utilities {
  @media (max-width: 639px) { /* Tailwind CSS의 sm breakpoint는 640px입니다 */
    .mobile-max-height {
      max-height: calc(3 * 6rem); /* Adjust this calculation based on the height of each item */
      overflow-y: auto;
    }
  }
}